* {
    font-family: 'IBM Plex Sans Thai', sans-serif;
}
.nav_logo {
    height: 40px;
}
.navBottom {
    background: #27397c;
    font-size: 14px;
    height: 45px;
}
.navbar-collapse {
    transition: all 0.4s ease;
    display: block;
}
.navbar-collapse.collapsing {
    height: auto !important;
    margin-left: 50%;
    left: 50%;
    transition: all 0.2s ease;
    background: #fff;
}
.navbar-collapse.show {
    left: 0;
    background: none;
}
.choiceSize, .choiceSize::placeholder {
    font-size: 14px;
    color: rgb(133, 132, 132);
}
.choiceSize h6, .choiceSize .custom-control-label {
    color: black;
}
.choiceSize b, .choiceSize .price {
    color: #3b3b3b;
}
.img_store {
    width: 100%;
    height: 220px;
    background-position: center;
    object-fit: cover;
}
.facitiyIcon {
    width: 25px;
    height: 25px;
    padding: 2px;
    background-position: center;
    border: 2px solid rgb(108, 191, 95);
    border-radius: 50%;
}
#showContent {
    background-image: url("./assets/bg.PNG");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#page_left .card {
    border: 1.5px solid #7a93b6;
    border-radius: 5px;
    background: none;
}
#ifNotAll {
    display: none;
}
#page_right .card {
    border: 1.5px solid #e2e8f0;
    border-radius: 5px;
}
#navFilter {
    background: #2a4365;
    color: white;
}
.form-control:focus {
    border-color: skyblue;
}
@font-face {
    font-family: 'fontello';
    src: url('./font/fontello.eot?10929753');
    src: url('./font/fontello.eot?10929753#iefix') format('embedded-opentype'),
         url('./font/fontello.woff?10929753') format('woff'),
         url('./font/fontello.ttf?10929753') format('truetype'),
         url('./font/fontello.svg?10929753#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
.left-icon {
    font-family: "fontello";
}

/* Responsive */
@media only screen and (max-width: 764px){
    .nav_logo_desktop {
       display: none;
    }
    .nav_logo_mobile {
        display: block;
    }
    #nav_dropdown_menu_desktop {
        display: none;
    }
    #serachBox {
        border-radius: 5%;
    }
    #fliterBTN {
        display: block;
    }
    #page_left {
        position: fixed;
        overflow-x: auto;
        top: 0;
        z-index: 2;
        width: 100%;
        height: 100vh;
    }
    #navFilter {
        display: flex;
    }
    .navbar-collapse.show {
        left: 0;
        background: #fff;
    }
}
 @media only screen and (min-width: 765px){
    .nav_logo_desktop {
       display: block;
    }
    .nav_logo_mobile {
        display: none;
    }
    #nav_dropdown_menu_desktop {
        display: block;
    }
    #fliterBTN {
        display: none;
    }
    #topNav {
        padding-left: 10%;
        padding-right: 10%;
    }
    #bottomNav {
        padding-left: 9%;
        padding-right: 9%;
    }
    #navFilter {
        display: none;
    }
}
